
tags
Project2_CacheSimulator/trace.stream_20
Project2_CacheSimulator/trace.stream_10
Project2_CacheSimulator/trace.stream
Project2_CacheSimulator/trace.hpcg
Project2_CacheSimulator/Makefile
Project2_CacheSimulator/hw5_memoryaddr
Project2_CacheSimulator/compile_flags.txt
Project2_CacheSimulator/CacheSimulator.project
Project2_CacheSimulator/CacheSimulator.mk
part3.1_trace.stream_fully_32bytes_output.txt
part3.1_trace.stream_fully_16bytes_output.txt
part3.1_trace.stream_fully_128bytes_output.txt
part3.1_trace.stream_8way_32bytes_output.txt
part3.1_trace.stream_8way_16bytes_output.txt
part3.1_trace.stream_8way_128bytes_output.txt
part3.1_trace.stream_4way_32bytes_output.txt
part3.1_trace.stream_4way_16bytes_output.txt
part3.1_trace.stream_4way_128bytes_output.txt
part3.1_trace.stream_2way_32bytes_output.txt
part3.1_trace.stream_2way_16bytes_output.txt
part3.1_trace.stream_2way_128bytes_output.txt
part3.1_trace.stream.20_fully_32bytes_output.txt
part3.1_trace.stream.20_fully_16bytes_output.txt
part3.1_trace.stream.20_fully_128bytes_output.txt
part3.1_trace.stream.20_8way_32bytes_output.txt
part3.1_trace.stream.20_8way_16bytes_output.txt
part3.1_trace.stream.20_8way_128bytes_output.txt
part3.1_trace.stream.20_4way_32bytes_output.txt
part3.1_trace.stream.20_4way_16bytes_output.txt
part3.1_trace.stream.20_4way_128bytes_output.txt
part3.1_trace.stream.20_2way_32bytes_output.txt
part3.1_trace.stream.20_2way_16bytes_output.txt
part3.1_trace.stream.20_2way_128bytes_output.txt
part3.1_trace.stream.10_fully_32bytes_output.txt
part3.1_trace.stream.10_fully_16bytes_output.txt
part3.1_trace.stream.10_fully_128bytes_output.txt
part3.1_trace.stream.10_8way_32bytes_output.txt
part3.1_trace.stream.10_8way_16bytes_output.txt
part3.1_trace.stream.10_8way_128bytes_output.txt
part3.1_trace.stream.10_4way_32bytes_output.txt
part3.1_trace.stream.10_4way_16bytes_output.txt
part3.1_trace.stream.10_4way_128bytes_output.txt
part3.1_trace.stream.10_2way_32bytes_output.txt
part3.1_trace.stream.10_2way_16bytes_output.txt
part3.1_trace.stream.10_2way_128bytes_output.txt
part3.1_trace.hpcg_fully_32bytes_output.txt
part3.1_trace.hpcg_fully_16bytes_output.txt
part3.1_trace.hpcg_fully_128bytes_output.txt
part3.1_trace.hpcg_8way_32bytes_output.txt
part3.1_trace.hpcg_8way_16bytes_output.txt
part3.1_trace.hpcg_8way_128bytes_output.txt
part3.1_trace.hpcg_4way_32bytes_output.txt
part3.1_trace.hpcg_4way_16bytes_output.txt
part3.1_trace.hpcg_4way_128bytes_output.txt
part3.1_trace.hpcg_2way_32bytes_output.txt
part3.1_trace.hpcg_2way_16bytes_output.txt
part3.1_trace.hpcg_2way_128bytes_output.txt
part1_trace.stream_output.txt
part1_trace.stream_20_output.txt
part1_trace.stream_10_output.txt
part1_trace.hpcg_output.txt
Makefile
CS3375_CompArch.workspace
build-Debug/Project2_CacheSimulator/ObjectsList.txt
build-Debug/Project2_CacheSimulator/cachesim.c.o.d
build-Debug/Project2_CacheSimulator/cachesim.c.o
build-Debug/Project2_CacheSimulator/.d
build-Debug/bin/trace.stream_20
build-Debug/bin/trace.stream_10
build-Debug/bin/trace.stream
build-Debug/bin/trace.hpcg
build-Debug/bin/CacheSimulator.exe
.codelite/ctags
.codelite/CS3375_CompArch.session
.codelite/CS3375_CompArch-steph.tags
